.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4cd406;
    padding: 15px 30px;
  }
  
  .navbar-logo img {
    height: 100px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }

  nav a {
    font-family: 'Gemunu Libre', sans-serif;
    color: #0dff00;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #282c34;
  }
  
  nav a:hover {
    background-color: #0dff00;
    color: #000;
  }
  
  